.hidden{display:none;}
.menu{border-style:solid;border-color:black;border-width:thin;width:100px;}
.border{border-style:solid;border-color:black;border-width:thin;width:70px;height:70px;display:inline;}
.white {background-color: white;}

.red {background-color: red;}
.green {background-color: green;}
.blue {background-color: blue;}
.brown {background-color: brown;}
.pink {background-color: pink;}
.yellow {background-color: yellow;}